<ul class="nav nav-pills" role="tablist" style="margin-top: 10px;">
  <li role="presentation" class="active"><a href="/blog">Blog Home <span class="badge">1</span></a></li>
  <li role="presentation"><a href="#">New <span class="badge">1</span></a></li>
  <li role="presentation"><a href="#">Featured</a></li>
</ul>
<body>
<h1 style="margin-bottom: -15px;">The Blog</h1>
<h3 style="color: grey; font-size: 20px;" class="norm">Random musings about development and other interests.</h3>
<hr style="border-top: 1px solid #C9D0D2;">