<% provide(:title, 'About') %>
<h1>About Me</h1>
<%= image_tag("dan.jpg", alt: "Dan Johnson", class: "left") %>Accomplished software developer with comprehensive programming experience in Ruby on Rails, PHP, JavaScript, jQuery, AJAX, CSS3 and HTML5. Highly knowledgeable in relational databases design, SQL, and stored procedures. Well versed in test-driven development and red-green-refactoring. Excellent understanding of customer relationship management, content management systems, enterprise resource planning, and warehouse management software. Experienced in writing technical and conceptual documentation. Highly competent in quality assurance testing and end-user support. Goal-driven,  innovative, enthusiastic, motivated, team player, problem solver, critical thinker, constant learner.
<br />
<br />
<ul>
<li>Specialties: RESTful APIs, Behavior- and Test-Driven-Design, Object Oriented Programming, MVC Design Pattern</li>
<li>Languages: Ruby on Rails, PHP, Javascript, jQuery, HTML5, CSS3</li>
<li>Databases: MySQL, SQL Lite, MongoDB, Postgres, and DB2/400 (iSeries)</li>
<li>Tools: Sublime Text 3, Atom, Git, Tower, Sequel Pro, RSpec, Factory Girl, Kaleidoscope, Microsoft Office Suite</li>
<li>Operating Systems: OSX, MS Windows (3.1-7), Linux (Ubuntu), OS/400 (iSeries)</li>

<p><%= link_to "View Details &raquo;".html_safe, resume_path, class: "btn btn-default" %></p>
<!-- <p>Find me in app/views/pages/about.html.erb</p> -->