<% provide(:title, 'Bluehawk CMS/CRM') %>
<h1>Bluehawk Content Management System and Customer Relationship Management</h1>
<%= link_to image_tag("bh-dashboard.png", size: "170x150", alt: "Bluehawk", class: "left"), "/assets/E365ERD.png" %>
<p>It all starts with a world class dashboard giving users a 30,000 foot view of how an event is shaping up. From this information packed screen a salesperson can gauge the health of an event</p>