<% provide(:title, 'Page Name Here') %>
<h1>Contact Me</h1>
<P ALIGN=RIGHT STYLE="margin-top: 0.04in; margin-bottom: 0in"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 12pt">Dan Johnson</FONT></FONT></P><P ALIGN=RIGHT STYLE="margin-top: 0.04in; margin-bottom: 0in"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 12pt">4998 SE Briar Ct., Milwaukie, Oregon 97267</FONT></FONT></P>
<P ALIGN=RIGHT STYLE="margin-top: 0.04in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><FONT SIZE=1 STYLE="font-size: 12pt"><FONT FACE="Helvetica, Arial, sans-serif">Phone
503.449.8357 </FONT><FONT FACE="Helvetica, Arial, sans-serif">●</FONT><FONT FACE="Helvetica, Arial, sans-serif">
</FONT><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="mailto:drj3141@gmail.com"><FONT FACE="Helvetica, Arial, sans-serif">drj3141@gmail.com</FONT></A></U></SPAN></FONT><FONT FACE="Helvetica, Arial, sans-serif">
</FONT><FONT FACE="Helvetica, Arial, sans-serif">●</FONT><FONT FACE="Helvetica, Arial, sans-serif">
<a href="github.com/danjohnson3141">github.com/danjohnson3141</a></FONT></FONT></FONT></P>
<P ALIGN=RIGHT STYLE="margin-top: 0.04in; margin-bottom: 0in"><FONT FACE="Century Gothic, serif"><FONT SIZE=1 STYLE="font-size: 12pt"><FONT COLOR="#0000ff"><SPAN LANG="zxx"><A HREF="http://www.linkedin.com/in/drjohnson3141/"><FONT COLOR="#666666"><SPAN STYLE="text-decoration: none"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 12pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><a href="linkedin.com/in/drjohnson3141/">linkedin.com/in/drjohnson3141</a></SPAN></SPAN></FONT></FONT></SPAN></FONT></A></SPAN></FONT></FONT></FONT></P>
<P ALIGN=RIGHT STYLE="margin-top: 0.04in"><FONT COLOR="#0000ff"><FONT COLOR="#666666"><SPAN STYLE="text-decoration: none">
<FONT FACE="Century Gothic, serif"><FONT SIZE=1 STYLE="font-size: 12pt"><SPAN LANG="zxx"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 12pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><a href="http://www.turtlesthewholewaydown.com">portfolio | www.turtlesthewholewaydown.com</a></SPAN></SPAN></FONT></FONT></SPAN></FONT></SPAN></FONT></FONT></FONT></P>
