<style type="text/css">
	a:hover {
		text-decoration: none;
	}
</style>
<% provide(:title, 'PHP') %>
<h1>PHP Projects</h1>
<p>Ruby on Rails has become my perfered tool for development. It works very well for projects ranging from simple to very complex. Developing in Rails I am more productive and deliver better results.</p>
<p>Below are some person applications I have created. Unfortunately, most of my best work is on proprietery websites.</p>
<section id="body">
  <div id="projects">
    <a href="/bluehawk">
    	<div class="project">
				<%= image_tag("bh-dashboard.png", size: "170x150", alt: "Bluehawk", class: "left") %>
				<p><strong>Bluehawk CMS/CRM</strong></p>
				<p>Bluehawk is a custom built customer relationship manager and content management system used by Evanta. It was written in PHP in the Zend framework and using MySQL and MongoDB for storage. Development of this monolithic application began in 2011. Development continues to this day albiet at a slower pace. Starting in 2013 all new development uses a Ruby on Rails RESTful API for business logic and the existing front-end for presentation.</p>
		</div>
	</a>
	<a href="https://www.cortina-systems.com/index.php">
		<div class="project">
			<%= image_tag("cortina.png", size: "180x150", alt: "Cortina", class: "right") %>
			<p><strong>Cortina Systems Corporate Website</strong></p>
			<p>Cortina Systems website had not been updated for over five years and was looking very dated. As part of this project it was moved to Joomla CMS. The Joomla project was heavily modified to provide a unique and modern look. All data was migrated from the legacy system as well.</p>
		</div>
	</a>
	<a href="http://www.evanta.com/">
		<div class="project">
			<p><%= image_tag("evanta.png", size: "180x150", alt: "fat-free-crm", class: "left") %>
			<p><strong>Evanta Homepage</strong></p>
			<p>This is Evanta's main webpage. All content is derived from Bluehawk, our in-house, custom developed, content management and customer relation system.</p>
			<p></p>
		</div>
	</a>
  </div>
</section>
<!-- <p>Find me in app/views/pages/ruby.html.erb</p> -->
<p>Thanks for looking</p>