<style type="text/css">
	.header {font-variant: small-caps; font-weight: bold; font-size: large; }
	.indent {margin-left: 10px;}
	.indent2 {margin-left: 20px;}
</style>
<% provide(:title, 'Privacy') %>
<h1>Privacy Policy</h1>

<div class=WordSection1>
<p class="header">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Introduction</p>
<p class="indent">1.1&nbsp;&nbsp;&nbsp;&nbsp; We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.</p>
<p class="indent">1.2&nbsp;&nbsp;&nbsp;&nbsp; We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website. By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</p>

<p class="header">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collecting personal information</p>
<p class="indent">2.1&nbsp;&nbsp;&nbsp;&nbsp; We may collect, store and use the following kinds of personal information: </p>
<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; information about your computer and about your visits to and use of this website (including
your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths);</p>
<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; information that you provide to us when registering with our website including your email address);</p>
<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; information that you provide when completing your profile on our website (including your name, profile pictures, gender, date of birth, interests and hobbies);</p>
<p class="indent2">(d)&nbsp;&nbsp;&nbsp;&nbsp; information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (including your name and email address);</p>
<p class="indent2">(e)&nbsp;&nbsp;&nbsp;&nbsp; information that you provide to us when using the services on our website, or that is
generated in the course of the use of those services (including the timing, frequency and pattern of service use;</p>
<p class="indent2">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; any other personal information that you choose to send to us; and</p>

<p class="header">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Using your personal information</p>
<p class="indent">3.1&nbsp;&nbsp;&nbsp;&nbsp; Personal information submitted to us through our website will be used for the purposes
specified in this policy or on the relevant pages of the website.</p>
<p class="indent">3.2&nbsp;&nbsp;&nbsp;&nbsp; We may use your personal information to: </p>
<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; administer our website and business;</p>
<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; personalise our website for you;</p>
<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; enable your use of the services available on our website;</p>
<p class="indent2">(d)&nbsp;&nbsp;&nbsp;&nbsp; send you goods purchased through our website;</p>
<p class="indent2">(e)&nbsp;&nbsp;&nbsp;&nbsp; supply to you services purchased through our website;</p>
<p class="indent2">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; send statements, invoices and payment reminders to you, and collect payments from
you;</p>
<p class="indent2">(g)&nbsp;&nbsp;&nbsp;&nbsp; [send you non-marketing commercial communications;]</p>
<p class="indent2">(h)&nbsp;&nbsp;&nbsp;&nbsp; [send you email notifications that you have specifically requested;]</p>
<p class="indent2">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [send you our email newsletter, if you have requested it (you can inform us at any
time if you no longer require the newsletter);]</p>
<p class="indent2">(j)&nbsp;&nbsp;&nbsp; keep our website secure and prevent fraud;</p>
<p class="indent">3.3&nbsp;&nbsp;&nbsp;&nbsp; If you submit personal information for publication on our website, we will publish
and otherwise use that information in accordance with the licence you grant to us.</p>
<p class="indent">3.4&nbsp;&nbsp;&nbsp;&nbsp; We will not, without your express consent, supply your personal information to any
third party for the purpose of their or any other third party's direct marketing.</p>

<p class="header">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Disclosing
personal information</p>
<p class="indent">4.1&nbsp;&nbsp;&nbsp;&nbsp; We may disclose your personal information to any of our employees, officers,
insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this policy.</p>
<p class="indent">4.2&nbsp;&nbsp;&nbsp;&nbsp; We may disclose your personal information to any member of our group of companies
(this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes set out in this policy.</p>
<p class="indent">4.3&nbsp;&nbsp;&nbsp;&nbsp; We may disclose your personal information: </p>
<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; to the extent that we are required to do so by law;</p>
<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; in connection with any ongoing or prospective legal proceedings;</p>
<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in order to establish, exercise or defend our legal rights (including providing
information to others for the purposes of fraud prevention and reducing credit risk);</p>
<p class="indent">4.4&nbsp;&nbsp;&nbsp;&nbsp; Except as provided in this policy, we will not provide your personal information to
third parties.</p>

<p class="header">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Retaining personal information</p>

<p class="indent">5.1&nbsp;&nbsp;&nbsp;&nbsp; This Section 5 sets out our data retention policies and procedure, which are
designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal information.</p>

<p class="indent">5.2&nbsp;&nbsp;&nbsp;&nbsp; Personal information that we process for any purpose or purposes shall not be kept for
longer than is necessary for that purpose or those purposes.</p>

<p class="indent">5.3&nbsp;&nbsp;&nbsp;&nbsp; Without prejudice to Section 5.2, we will usually delete personal data falling within
the categories set out below at the date/time set out below: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; <i>personal data</i> will be deleted <i>after six months;</i>;</p>

<p class="indent">5.4&nbsp;&nbsp;&nbsp;&nbsp; Notwithstanding the other provisions of this Section 7, we will retain documents (including
electronic documents) containing personal data: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; to the extent that we are required to do so by law;</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; if we believe that the documents may be relevant to any ongoing or prospective
legal proceedings; and</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in order to establish, exercise or defend our legal rights (including providing
information to others for the purposes of fraud prevention and reducing credit risk).</p>

<p class="header">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Security of your personal information</p>

<p class="indent">6.1&nbsp;&nbsp;&nbsp;&nbsp; We will take reasonable technical and organisational precautions to prevent the
loss, misuse or alteration of your personal information.</p>

<p class="indent">6.2&nbsp;&nbsp;&nbsp;&nbsp; We will store all the personal information you provide on our secure (password-
and firewall-protected) servers.</p>

<p class="indent">6.3&nbsp;&nbsp;&nbsp;&nbsp; All electronic financial transactions entered into through our website will be
protected by encryption technology.</p>

<p class="indent">6.4&nbsp;&nbsp;&nbsp;&nbsp; You acknowledge that the transmission of information over the internet is
inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>

<p class="indent">6.5&nbsp;&nbsp;&nbsp;&nbsp; You are responsible for keeping the password you use for accessing our website
confidential; we will not ask you for your password (except when you log in to our website).</p>

<p class="header">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amendments</p>

<ass="indent">7.1&nbsp;&nbsp;&nbsp;&nbsp; We may update this policy from time to time by publishing a new version on our
website.</p>

<p class="indent">7.2&nbsp;&nbsp;&nbsp;&nbsp; You should check this page occasionally to ensure you are happy with any changes to
this policy.</p>

<p class="indent">7.3&nbsp;&nbsp;&nbsp;&nbsp; We
may notify you of changes to this policy by email.</p>

<p class="header">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your rights</p>

<ass="indent">8.1&nbsp;&nbsp; You may instruct us to provide you with any personal information we hold about you;
provision of such information will be subject to: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; the supply of appropriate evidence of your identity.</p>

<p class="indent">8.2&nbsp;&nbsp; We may withhold personal information that you request to the extent permitted by
law.</p>

<p class="indent">8.3&nbsp;&nbsp; You may instruct us at any time not to process your personal information for
marketing purposes.</p>

<p class="indent">8.4&nbsp;&nbsp; In practice, you will usually either expressly agree in advance to our use of your
personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</p>

<p class="header">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Third party
websites</p>

<p class="indent">9.1&nbsp;&nbsp; Our website includes hyperlinks to, and details of, third party websites.</p>

<p class="indent">9.2&nbsp;&nbsp; We have no control over, and are not responsible for, the privacy policies and
practices of third parties.</p>

<p class="header">10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Updating information</p>
<p class="indent">10.1&nbsp;&nbsp; Please let us know if the personal information that we hold about you needs to be
corrected or updated.</p>

<p class="header">11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cookies</p>

<ass="indent">11.1&nbsp;&nbsp; Our website uses cookies.</p>

<p class="indent">11.2&nbsp;&nbsp; A cookie is a file containing an identifier (a string of letters and numbers)
that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>

<p class="indent">11.3&nbsp;&nbsp; Cookies may be either &quot;persistent&quot; cookies or &quot;session&quot; cookies: a
persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. </p>

<p class="indent">11.4&nbsp;&nbsp; Cookies do not typically contain any information that personally identifies a user, but
personal information that we store about you may be linked to the information stored in and obtained from cookies.</p>

<p class="indent">11.5&nbsp;&nbsp; We use both session and persistent cookies on our website.</p>

<p class="indent">11.6&nbsp;&nbsp; The names of the cookies that we use on our website, and the purposes for which
they are used, are set out below: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; we use [<i>'_bitbybit_session'</i>] on our website to
recognise a computer when a user visits the website, track users as they navigate the website, improve the website's usability;</p>

<p class="indent">11.7&nbsp;&nbsp; Most browsers allow you to refuse to accept cookies; for example: </p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; in Internet Explorer (version 10) you can block cookies using the cookie handling
override settings available by clicking &quot;Tools&quot;, &quot;Internet Options&quot;, &quot;Privacy&quot; and then &quot;Advanced&quot;;</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; in Firefox (version 24) you can block all cookies by clicking &quot;Tools&quot;,
&quot;Options&quot;, &quot;Privacy&quot;, selecting &quot;Use custom settings for history&quot; from the drop-down menu, and unticking &quot;Accept cookies from sites&quot;; and</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in Chrome (version 29), you can block all cookies by accessing the &quot;Customise
and control&quot; menu, and clicking &quot;Settings&quot;, &quot;Show advanced settings&quot; and &quot;Content settings&quot;, and then selecting &quot;Block sites from setting any data&quot; under the &quot;Cookies&quot; heading.</p>

<p class="indent">11.8&nbsp;&nbsp; Blocking all cookies will have a negative impact upon the usability of many websites.</p>

<p class="indent">11.9&nbsp;&nbsp; If you block cookies, you will not be able to use all the features on our website.</p>

<p class="indent">11.10 You can delete cookies already stored on your computer; for example:</p>

<p class="indent2">(a)&nbsp;&nbsp;&nbsp;&nbsp; in Internet Explorer (version 10), you must manually delete cookie files (you can
find instructions for doing so at http://support.microsoft.com/kb/278835);</p>

<p class="indent2">(b)&nbsp;&nbsp;&nbsp;&nbsp; in Firefox (version 24), you can delete cookies by clicking &quot;Tools&quot;,
&quot;Options&quot; and &quot;Privacy&quot;, then selecting &quot;Use custom settings for history&quot;, clicking &quot;Show Cookies&quot;, and then
clicking &quot;Remove All Cookies&quot;; and</p>

<p class="indent2">(c)&nbsp;&nbsp;&nbsp;&nbsp; in Chrome (version 29), you can delete all cookies by accessing the
&quot;Customise and control&quot; menu, and clicking &quot;Settings&quot;, &quot;Show advanced settings&quot; and &quot;Clear browsing data&quot;, and then selecting &quot;Delete cookies and other site and plug-in data&quot;
before clicking &quot;Clear browsing data&quot;.</p>

<p class="indent">11.11 Deleting
cookies will have a negative impact on the usability of many websites.</p>

<p class="header">12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our details</p>

<ass="indent">12.1&nbsp;&nbsp; This website is owned and operated by <i><%= meta_author %></i>.</p>

<p class="indent">12.2&nbsp;&nbsp; Our principal place of business is at <i>4998 SE Briar Ct., Milwaukie, OR 97267</i>.</p>

<p class="indent">12.4&nbsp;&nbsp; You can contact us by writing to the business address given above, by using our
website contact form, by email to [<i>email address</i>] or by telephone at <i>503.449.8357</i>.</p>
