<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.0 Transitional//EN">
<html>
<head>
	
	<style TYPE="text/css">
		@page { margin-right: 0.99in; margin-top: 0.35in; margin-bottom: 0.35in }
		p { margin-bottom: 0.04in; color: #000000; line-height: 0.15in; text-align: justify; widows: 2; orphans: 2 }
		p.western { font-family: "Helvetica", sans-serif; font-size: 10pt; }
		h1 { margin-top: 0.15in; margin-bottom: 0in; direction: ltr; color: #000000; line-height: 0.15in; widows: 2; orphans: 2; page-break-after: auto }
		h1.western { font-family: "Helvetica", serif; font-size: 11pt; font-weight: bold; }
		h3 { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		P.bulleted-list-western { font-family: "Helvetica", sans-serif; font-size: 10pt; }
		A:link { color: #0000ff; }
		.resume-right {text-align: right;}
		li {
			font-family: "Helvetica", sans-serif; font-size: 10pt;
		}
	</style>
</head>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff">
<table>
	<COL width=933>
	<TBODY>
		<tr>&nbsp;</tr>
		<tr>
			<td>
				<P class="resume-right"><font FACE="Helvetica, serif"><font SIZE=4 STYLE="font-size: 18pt"><B>Dan Johnson</B></font></font></P>
			</td>
		</tr>
		<tr>
			<td>
				<p class="resume-right">4998 SE Briar Ct., Milwaukie, Oregon 97267</p>
				<p class="resume-right">Phone 503.449.8357 ● drj3141@gmail.com</p>
				<p class="resume-right"><a href="https://linkedin.com/in/drjohnson3141" target="_blank">linkedin.com/in/drjohnson3141</a> ● <a href="https://github.com/danjohnson3141" target="_blank">github.com/danjohnson3141</a></p>
				<p class="resume-right">portfolio | <a href="www.turtlesthewholewaydown.com" target="_blank">www.turtlesthewholewaydown.com</a></p>
			</td>
		</tr>
	</TBODY>
</table>
<P class="western" ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<table>
	<COL width=99>
	<COL width=823>
	<tr valign="top">
		<td ROWSPAN=2 width=99 HEIGHT=52>
			<h1 class="western" style="margin-top: 4.5px;">About me</h1>
		</td>
		<td width=823>
			<P ALIGN=LEFT STYLE="margin-top: 0.04in; font-style: normal; font-weight: normal">
			<font COLOR="#333333"><font FACE="Helvetica, Arial, sans-serif"><font SIZE=1 STYLE="font-size: 10pt">Accomplished software developer with comprehensive programming experience in Ruby on Rails, PHP, JavaScript, jQuery, AJAX, CSS3 and HTML5.
			Highly knowledgeable in relational databases design, SQL, and Postrgres. Well versed in test-driven development and
			red-green-refactoring. Excellent understanding of customer relationship management, content management systems, enterprise
			resource planning, and warehouse management software. Experienced in writing technical and conceptual documentation. Highly
			competent in quality assurance testing and end-user support. Goal-driven, innovative, enthusiastic, motivated, team player,
			problem solver, critical thinker, constant learner.</font></font></font></P>
		</td>
	</tr>
	<tr valign="top">
		<td width=823>
			<ul style="margin-top: 20px">
				<li>
				<strong>Specialties:</strong>
				RESTful APIs, Behavior- and Test-Driven-Design, Object Oriented Programming, MVC Design Pattern, ERD</li>
				<li><strong>Languages:</strong>
				Ruby on Rails, PHP, Javascript, jQuery, Backbone.js, RubyMotion, HTML5, CSS3, Java.</li>
				<li><strong>Databases:</strong>
				MySQL, SQL Lite, MongoDB, Postgres, and DB2/400 (iSeries)</li>
				<li><strong>Tools:</strong>
				Sublime Text 3, Atom, Git, Tower, Sequel Pro, RSpec, Factory
				Girl, Kaleidoscope, Postico, Postman, Slack</li>
				<li><strong>Operating</strong>
				Systems: OSX, MS Windows (3.1 - 10), Linux (Ubuntu), OS/400 (iSeries)</li>
			</ul>
		</td>
	</tr>
	<tr valign="top">
		<td width=99>
			<h1 class="western">Experience</h1>
		</td>
		<td width=823>
			<P ALIGN=LEFT STYLE="margin-top: 0.17in; margin-bottom: 0.03in"><B>Web
			Developer</B></P>
			<P ALIGN=LEFT STYLE="margin-top: 0.03in; margin-bottom: 0.02in"><B>Evanta,
			</B><FONT SIZE=2 STYLE="font-size: 9pt">February 2013 – Present</FONT></P>
			<P ALIGN=LEFT STYLE="font-style: normal; font-weight: normal">
			<FONT COLOR="#333333"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Developed Evanta365, a web/mobile application to enhance the experience of event attendees by combining enhanced event schedule management, social networking, and gamification. Through a secure, multi-lingual, multi-tenant, versioned RESTful API, written in Ruby on Rails, all business logic is available to the web, iOS, and Android front-end applications.</FONT></FONT></FONT></P>
			<P ALIGN=LEFT STYLE="font-style: normal; font-weight: normal">
			<FONT COLOR="#333333"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Project responsibilities: API developer, database architect, migration specialist, and test/behavior-driven-design with RSpec.</FONT></FONT></FONT></P>
			<P ALIGN=LEFT STYLE="font-style: normal; font-weight: normal">
			<FONT COLOR="#333333"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Maintain
			and create web applications using a combination of PHP (with Zend
			Framework), Ruby on Rails, JavaScript (jQuery, Backbone,
			Underscore), HTML, CSS, SASS, and other technologies. Support and
			improve in-house custom CRM / CMS application called Bluehawk. 
			Improve, update, and support an executive-focused social
			networking platform called EvantaLeadershipNetwork.com as well as
			Evanta's main website Evanta.com.  Light DevOps experience.</FONT></FONT></FONT></P>
			<P ALIGN=LEFT STYLE="font-style: normal; font-weight: normal">
			<FONT COLOR="#333333"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Interface
			with vendor APIs such as SendGrid, Mailgun, ExactTarget, Amazon
			S3, and SurveyGizmo, Twillio, and others.</FONT></FONT></FONT></P>
			<P ALIGN=LEFT STYLE="font-style: normal; font-weight: normal">
			<FONT COLOR="#333333"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Technologies
			used: RSpec, Active Model Serializer, Globalize, Apartment, Faker,
			Factory Girl, Capistrano, CodeClimate, Semaphore, PivotalTracker,
			Vagrant, SimpleCov, Active-Admin.</FONT></FONT></FONT></P>
		</td>
	</tr>
	<tr valign="top">
		<td width=99>
			<P class="western" ALIGN=LEFT><BR>
			</P>
		</td>
		<td width=823>
			<P ALIGN=LEFT STYLE="margin-top: 0.08in; margin-bottom: 0in"><B>Freelance PHP Developer and Data Architect </B>
			</P>
			<P ALIGN=LEFT STYLE="margin-bottom: 0.02in"><B>Conti Creative,
			</B><FONT SIZE=2 STYLE="font-size: 9pt">June 2012 – December
			2013</FONT></P>
			<P ALIGN=LEFT><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Assisted
			in the upgrade of a major electronics firm's outdated website. 
			Researched and evaluated various Content Management Systems
			(Joomla, WordPress, Drupal, and RefineryCMS.) as well as popular
			CMS extension products to find an open source solution that
			requires the least amount of customization.</FONT></FONT></P>
			<P ALIGN=LEFT><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">While
			researching RefineryCMS, an open source Rails based CMS package, I
			had my first real exposure to Ruby on Rails. I was very impressed
			with the power, organization,  and fluidity of the language. </FONT></FONT>
			</P>
		</td>
	</tr>
	<tr valign="top">
		<td width=99>
			<P class="western" ALIGN=LEFT><BR>
			</P>
		</td>
		<td width=823>
			<P ALIGN=LEFT STYLE="margin-top: 0.08in; margin-bottom: 0in; widows: 2; orphans: 2">
			<B>Programmer Analyst IV</B></P>
			<P ALIGN=LEFT STYLE="margin-top: 0.02in; margin-bottom: 0in; widows: 2; orphans: 2">
			<STRONG><A HREF="https://www.linkedin.com/company/columbia-sportswear?trk=ppro_cprof"><FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT SIZE=2><B>Columbia
			Sportswear</B></FONT></SPAN></FONT></A></STRONG><FONT COLOR="#555555"><FONT SIZE=2 STYLE="font-size: 9pt">,
			January 1996 – March 2012</FONT></FONT></P>
			<P class="western" ALIGN=LEFT STYLE="margin-top: 0.04in; margin-bottom: 0.02in; border: none; padding: 0in; widows: 2; orphans: 2">
			<FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Created
			programs in PHP, RPG, CL, and SQL to expand a JD Edwards World ERP
			package to better suit the apparel industry. Responsible for all
			aspects of existing program maintenance as well as creating new
			solutions for the business. Responsibilities included project
			information gathering, writing technical documentation, testing,
			and user support. Applications included classic green screen
			iSeries as well as web based PHP interfaces.</FONT></FONT></P>
			<P class="western" ALIGN=LEFT STYLE="margin-top: 0.04in; margin-bottom: 0.02in; border: none; padding: 0in; widows: 2; orphans: 2">
			<FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Worked
			closely with consultants during a two year project to launch
			columbia.com e-commerce site. Responsible for interfacing legacy
			JDE system and web front-end.</FONT></FONT></P>
			<P class="western" ALIGN=LEFT STYLE="margin-top: 0.04in; margin-bottom: 0.02in; border: none; padding: 0in; widows: 2; orphans: 2">
			<FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Supported
			four worldwide distribution centers running Manhattan Associates
			Warehouse Management System (WMS). Support included custom
			programming and interfaces between the WMS and JD Edwards.</FONT></FONT></P>
			<P class="western" ALIGN=LEFT STYLE="margin-top: 0.04in; border: none; padding: 0in; widows: 2; orphans: 2">
			<FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Lead
			a project to bring JD Edwards production order information to the
			web. The solution, a PHP application using JavaScript, AJAX, ODBC,
			and SQL, brought core JD Edwards data to liaison offices and
			factories in Asia. Overseas users could update planners at
			Columbia HQ with the latest production progress. This gave company
			planners a precise view of factory production helping them  manage
			customer expectations and requirements. When fully implemented the
			application had hundreds of users and was responsible for saving
			tens of thousands of dollars per year in expedited shipping
			charges.</FONT></FONT></P>
		</td>
	</tr>
	<tr valign="top">
		<td width=99>
			<P class="western" ALIGN=LEFT><BR>
			</P>
		</td>
		<td width=823>
			<P><BR>
			</P>
		</td>
	</tr>
	<tr valign="top">
		<td width=99>
			<h1 class="western" STYLE="margin-top: 10px">Education</h1>
		</td>
		<td width=823>
			<H3 class="western" STYLE="margin-top: 0in; margin-bottom: 0.03in">
			<FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=2><SPAN STYLE="font-style: normal"><B>Western</B></SPAN></FONT></FONT><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt"><SPAN STYLE="font-style: normal"><B>
			Business College, </B></SPAN></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Computer Science, 1988 - 1990</SPAN></SPAN></FONT></FONT></FONT></H3>
			<P class="western" STYLE="margin-bottom: 0in; border: none; padding: 0in">
			<EM><FONT FACE="inherit"><FONT SIZE=1 STYLE="font-size: 10pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Grade:
			</SPAN></SPAN></FONT></FONT></EM><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">4.0
			GPA</SPAN></SPAN></FONT></FONT></P>
			<P class="western" STYLE="margin-bottom: 0.04in; border: none; padding: 0in; font-style: normal; font-weight: normal">
			<FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt">Interned
			at City of Portland Bureau of Water Works while attending college.</FONT></FONT></P>
			<P class="western" STYLE="border: none; padding: 0in"><EM><FONT COLOR="#000000"><FONT FACE="inherit"><FONT SIZE=1 STYLE="font-size: 10pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Activities
			and Societies: </SPAN></SPAN></FONT></FONT></FONT></EM><FONT FACE="Helvetica, Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 10pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Member
			of computer club</SPAN></SPAN></FONT></FONT></P>
		</td>
	</tr>
</table>
</BODY>
</html>