<!-- 
  # c = Nike::Client.new('drj3141@gmail.com', 'xxxxxxxxx!') 

  # c.activities do |a|
    #   puts "{name: '#{a.name}', distance: #{a.metrics.distance_in_miles.round 2}, speed: #{a.metrics.speed_in_mph.round 2}, duration: '#{a.metrics.duration_in_hms}', fuel: #{a.metrics.fuel}, device_type: '#{a.device_type}', emotion: '#{a.tags.emotion.try(:titleize)}', shoes: '#{a.tags.shoes.name if a.tags.shoes}', terrain: '#{a.tags.terrain.try(:titleize)}', weather: '#{a.tags.weather.try(:titleize)}', gps: #{a.gps}}, "
  # end
 -->

<% provide(:title, 'Blog') %>
<%= render "shared/blog_nav" %>

<h3>
  <span class="label label-info norm">Getting started with Watson Developer Cloud and Bluemix</span> 
  <span class="label label-success x-sml"><span class="glyphicon-class glyphicon glyphicon-calendar"></span> August 1, 2015 <span class="glyphicon-class glyphicon glyphicon-user"></span> Dan Johnson</span>
</h3>
<h5>Tags: <span class="norm"><span class="label label-danger">Dev</span> <span class="label label-danger">Hobby</span> <span class="label label-danger">Fitness</span></span>
<br/><br/>
<p>Coming soon...</p>