.thanks {
  float: right;
  padding-top: 6px;
}

.white {color: white;}

.right {
	float: right;
}

.left {
	float: left;
	margin-right: 20px;
  border-radius: 5px;
}

.project {
	padding: 5px 10px 5px 10px;
	min-height: 170px;
  margin-top: 15px;
  background-color: #edf3f4;
  border-radius: 5px;
}
.project.pending {
    background-color: whitesmoke;
}
blockquote {
  border-left: 0px;
  font-family: Georgia, serif;
  font-size: 28px;
  font-style: italic;
  // width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  // color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  // color: #7a7a7a;
}

blockquote cite {
  color: white;
  // font-size: 14px;
  display: block;
  margin-top: 5px;
  margin-left: 30px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}
.quote {
  margin-left: 140px;
}

/* Nike Running Styles */
.Unstoppable { color: green;}
.Great { color: #ff8300;}
.Tired { color: #8f96aa;}
.So { color: #0083ff;}

/* blog related styles */
.blog-section {
  border: 1px #428BCA solid;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f9f9f2;
}

.x-sml {font-size: small; font-weight: normal;}
.norm {font-weight: normal;}
body.blog { background: aliceblue;}

.label {font-weight: normal;}