
.right {
	float: right;
}

.left {
	float: left;
	margin-right: 20px;
    border-radius: 5px;
}

.project {
	padding: 5px 5px 5px 5px;
	height: 160px;
    margin-top: 15px;
    background-color: #edf3f4;
    border-radius: 5px;
}

.project:hover {
    background-color: #e3f0f2;
}

.project:hover
{
    text-decoration: none;
    color: #000;
}

/*a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #000;
}*/